body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(bgimage.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: aliceblue;



}



.Container{
  background-color: rgba(0, 0, 0, 0.845);
  width: 60vw;
  min-width: 600px;
  min-height: 80vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap:2vw;
  height: 90vh;
  
}
.Header{
 text-decoration: underline;
  width: 100%;
  text-align: center;
  padding: 1vw 0;
  border-bottom: 1px solid black;
  color: aliceblue;
  
}

.todo-input{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:6vw;
  
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 1vw;

}
.todo-container{
  width: 100%;
  height: 70vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap:2vw;
  overflow-y: scroll;
  scroll-behavior: smooth;
}




.to-do-item{
color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2vw;
  padding-right: 2vw;
  border-bottom:2px solid rgb(255, 255, 255) ;
  padding-bottom: 1vw;
}
.taskname{
  width:20vw;
 
}
#date{
  text-align: center;
  height: 3vw;
  width: 14vw;
}
.button span{
  color: rgb(0, 0, 0);
}